<div class="row profile">
    <div class="col-md-12">
        <ng-include src="'/cv-design//src/js/partials/personal/sections/picture.html'"></ng-include>
    </div>
</div>

<div class="row section dark-blue">
    <div class="col-md-12">
        <ng-include src="'/cv-design//src/js/partials/personal/sections/contact.html'"></ng-include>
    </div>
</div>

<div class="row section dark-blue">
    <div class="col-md-12">
        <ng-include src="'/cv-design//src/js/partials/personal/sections/follow-me.html'"></ng-include>
    </div>
</div>