@import '../../../sass/colors';

nav.navbar {
    background: none;
    button.navbar-toggler {
        border: none;
    }
    li.nav-item {
        text-align: center;
        text-transform: uppercase;
        padding: 14px 0px;
        border-bottom: 1px solid $color5;
    }
    li.nav-item:last-child{
        border-bottom: none;
    }
}
nav.navbar.nav-open {
    background: $color1;
}
