@import '../../../../sass/colors';

.recommendation {
    font-family: 'Open Sans Condensed', sans-serif !important;
    margin-bottom: 15px;
    img {
        border-radius: 50%;
        width: 100px;
    }
    div.text {
        p {
            font-size: 1.2rem;
        }
        p:first-child::before{
            font-family: FontAwesome;
            content: "\f10d";
            margin-right: 0.5rem;
        }

        p:last-child::after{
            font-family: FontAwesome;
            content: "\f10e";
            margin-left: 0.5rem;
        }
    }
}