@import '../../../../sass/colors';
.recommendation {
    font-family: 'Open Sans Condensed', sans-serif !important;
    margin-bottom: 15px;
    padding-left: 4px;
    img {
        border-radius: 50%;
        width: 100px;
    }
    div.text {
        p {
            font-size: 1rem;
            color: #444;
        }
        p::before {
            content: "\f10d";
            margin-right: 0.5rem;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        p::after {
            content: "\f10e";
            margin-left: 0.5rem;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
    }
}