@import '../../../../sass/colors';

.recommendation {
    font-family: 'Open Sans Condensed', sans-serif !important;
    img {
        border-radius: 50%;
    }
    div.text {
        p {
            font-size: 1.2rem;
        }
        p:first-child::before{
            font-family: FontAwesome;
            content: "\f10d";
            margin-right: 0.5rem;
        }

        p:last-child::after{
            font-family: FontAwesome;
            content: "\f10e";
            margin-left: 0.5rem;
        }
    }
    .person {
        font-family: sans-serif !important;
        text-align: center;
        .name {
            color: $color7;
            a {
                cursor: pointer;
            }
            a:hover{
                text-decoration: underline;
            }
        }
        .position {
            font-weight:bold;
            font-size: 0.7rem;
        }
    }
}