@import '../../../sass/colors';

.desktop-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
    font-family: Oswald, sans-serif;
    font-weight: lighter;
    box-shadow: 0px 3px 6px 2px #AAA;
    .right {
        float: right;
    }
    .left {
        float: left;
    }
    span {
        margin: 0 20px;
        padding: 8px;
        display: inline-block;
        color: $color7;
    }
    span:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    span.active {
        color: #0275d8;
    }
    .name {
        font-family: 'Gravitas One', cursive !important;
        font-size: 1.1rem;
        padding: 8px;
    }
}