.container-with-title {
    h3 {
        cursor: pointer;
    }
    .content {
        padding-top: 20px;
        max-height: 9000px;
        transition: transform 300ms, font-size 250ms, max-height 250ms;
    }
    .content  .content {
        padding: 0px;
        padding-bottom: 20px;
    }
}