@import '../../sass/colors';
.personal {
    a {
        color: $color1;
    }
    .contact-me span.icon {
        font-size: 22px;
        margin-bottom: 12px;
    }
    .section {
        padding: 30px 16px;
        color: $color1;
    }
    h4 {
        font-size: 16px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 35px;
        color: $color1;
    }
    .row {
        margin-bottom: 7px;
        color: $color1;
    }
    div.text {
        color: $color1;
    }
    .col-md-12 {
        padding: 0;
        color: $color1;
    }
    .col-md-12.mobile-picture {
        padding: 0px 40px;
    }
    .contact,
    .follow {
        text-align: center;
        margin: 35px 20px;
        color: $color1;
        a {
            font-size: 12px;
            color: $color1;
            word-break: break-word;
        }
        a {
            font-size: 14px;
            .social-link {
                span::before {
                    font-size: 26px;
                }
                font-size: 18px;
                padding: 6px;
                color: $color1;
            }
        }
    }
}

.sidebar,
#picture {
    position: relative;
    left: -9000px;
    transition: left 300ms;
}

.sidebar.ready,
#picture.ready {
    left: 0;
}