<h1 class="name">PERE PAGES SOMS</h1>
<h3 class="title">Front End Developer</h3>
<div class="summary">
    <p>I am a programmer with over 10 years experience. My main languages are Javascript and PHP. I have worked in Web Development
        and Insurance, in Front End and Back End projects, independently and with teams, alongside Designers and Business
        Analysts.</p>

    <p>I like simplicity, minimalism and quality. For me, code must be easy to understand, consistent, testable, short and modular.</p>

    <p>I try to write code daily, attend talks weekly and meet colleagues as often as I can.</p>
</div>