<h2><span class="fa fa-chevron-circle-right"></span> SKILLS</h2>

<div class="row">
  <div class="col-xs-4">
    <div>English</div>
    <div>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star-o"></span>
    </div>
  </div>
  <div class="col-xs-4">
    <div>Spanish</div>
    <div>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
  <div class="col-xs-4">
    <div>Catalan</div>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>      
    <div></div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-3">Javascript</div>
  <div class="col-xs-9">
    <div class="progress">
      <div class="progress-bar" role="progressbar"  style="width: 85%;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">AngularJS 1.5</div>
  <div class="col-xs-9">
    <div class="progress">
      <div class="progress-bar" role="progressbar"  style="width: 80%;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">AngularJS 2</div>
  <div class="col-xs-9">
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 90%;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">Bootstrap</div>
  <div class="col-xs-9">
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 70%;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">CSS</div>
  <div class="col-xs-9">
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 65%;"></div>
    </div>
  </div>
</div>