@import '../../../sass/colors';

.mobile .employer-header {
    h1 {
        margin-bottom: 0.4rem !important;
        font-size: 0.8rem !important;
    }
    h2 {
        color: $color7;
        font-size: 0.8rem !important;
        margin-bottom: 0 !important;
        a {
            cursor:pointer;
            color: $color7;
            font-size: 0.8rem !important;
            margin-bottom: 0 !important;
        }
    }
}

.employer-header {
    min-height: 68px;
    .employer-image {
        margin-right: 20px;
        img {
            border: dotted 1px $color6;
            border-radius: 6px;
            box-shadow: 0px 0px 6px 2px $color6;
        }
    }
    h1 {
        margin-bottom: 0.4rem !important;
        font-size: 1.2rem !important;
    }
    h2 {
        color: $color7;
        font-size: 1rem !important;
        margin-bottom: 0 !important;
        a {
            cursor:pointer;
            color: $color7;
            font-size: 1rem !important;
            margin-bottom: 0 !important;
        }
    }
    .name-and-title {
        padding: 12px;
    }
}