@import '../../../sass/colors';
.pc .experience-container {
    padding: 15px 26px;
    margin-bottom: 10px;
}

.mobile .experience-container {
    padding: 20px 20px;
    margin-bottom: 30px;
    h3 {
        font-size: 1rem;
    }
}

.experience-container {
    background-color: $color4;
    .contain {
        margin-top: 2.5rem;
    }
    h2 {
        cursor: pointer;
    }
    .col-md-12 {
        padding: 0;
        margin: 0;
    }
}

.experience-container>.col-md-12>.container-with-title>.visible {
    padding-top: 30px;
}