@import '../../../sass/colors';

.pc .experience-container{
    padding: 40px 40px;
    margin-bottom: 30px;
}

.mobile .experience-container{
    padding: 20px 20px;
    margin-bottom: 30px;
    h3 {
        font-size: 1rem;
    }
}

.experience-container {
    background-color: $color4;
        .contain {
            margin-top: 2.5rem;
    }
    .visible {
        padding-top: 30px;
    }
    h2 {
        cursor: pointer;
    }
    .col-md-12{
        padding: 0;
        margin: 0;
    }
}