@import '../../../../../sass/colors';

.person {
    font-family: sans-serif !important;
    text-align: center;
    .float-right {
        min-width: 200px;
    }
    .name {
        a {
            cursor: pointer;
            color: $color7;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .position {
        font-weight: bold;
        font-size: 0.7rem;
    }
}