<h4>FOLLOW ME</h4>

<div class="follow">
    <div class="page"><span style="color: #f5f5f5 !important; -webkit-print-color-adjust: exact !important;" class="fa fa-github"></span> Github</div>
    <a >github.com/pearpages</a>
</div>

<div class="follow">
    <div class="page"><span style="color: #f5f5f5 !important; -webkit-print-color-adjust: exact !important;" class="fa fa-twitter"></span> Twitter</div>
    <a >twitter.com/pearpages</a>
</div>

<div class="follow">
    <div class="page"><span style="color: #f5f5f5 !important; -webkit-print-color-adjust: exact !important;" class="fa fa-pencil"></span> Blog</div>
    <a >www.pearpages.com</a>
</div>