.pc .experience{
    div.row.grey,
    div.row.profile {
        padding: 20px 40px;
        margin-bottom: 30px !important;
    }
}
.mobile .experience{
    div.row.grey,
    div.row.profile {
        padding: 10px 20px;
        margin-bottom: 30px !important;
    }
}
.experience {
    .progress {
        -webkit-print-color-adjust: exact;
    }
    div.row.skills {
        text-align: center;
    }
    div.row {
        .progress {
            height: 12px !important;
            margin-bottom: 14px;
        }
        ul.no-decoration {
            list-style: none;
            padding-left: 0;
        }
        ul li {
            margin-bottom: 5px;
        }
    }
    .row .job {
        margin-bottom: 15px;
        .from {
            font-weight: bold;
        }
    }
    .job .title .job .title {
        font-size: 16px;
        margin-bottom: 7px;
        span {
            font-weight: bold;
            font-size: 16px;
        }
    }
    .webs span {
        font-size: 12px;
        font-weight: bold;
    }
}