@import '../../sass/colors';

.experience {
    h1 {
        font-size: 1.55rem;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 1.40rem;
        margin: 0;
    }
    h3 {
        font-size: 1.20rem;
        margin-bottom: 1rem;
    }
    p { font-size: 1rem}
    div.row.skills {
        text-align: center;
    }
    div.row {
        .progress {
            height: 12px;
            margin-bottom: 14px;
        }
        ul.no-decoration {
            list-style: none;
            padding-left: 0;
        }
        ul li {
            margin-bottom: 5px;
        }
    }
    .row .job {
        margin-bottom: 15px;
        .from {
            font-weight: bold;
        }
    }
    .job .title .job .title {
        font-size: 16px;
        margin-bottom: 7px;
        span {
            font-weight: bold;
            font-size: 16px;
        }
    }
    .webs span {
        font-size: 12px;
        font-weight: bold;
    }
    .resume {
        max-width: 1024px;
        padding-right: 0;
        margin: 0 auto;
        font-size: 1rem;
        line-height: 1.5;

        h1 {
            font-size: 2rem;
            margin-bottom: .5em;
        }

        p {
            font-size: .8rem;
        }
    }
}