@import '../../sass/colors';

.pc .experience{
    div.row.grey,
    div.experience-container,
    div.row.profile {
        padding: 40px 40px;
        margin-bottom: 30px;
    }
}
.mobile .experience{
    div.row.grey,
    div.experience-container,
    div.row.profile {
        padding: 20px 20px;
        margin-bottom: 30px;
    }
}
.experience {
    .experience-container {
        background-color: $color4;
    }
    h1 {
        font-size: 1.55rem;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 1.40rem;
        margin-bottom: 2.5rem;
    }
    h3 {
        font-size: 1.20rem;
        margin-bottom: 1rem;
    }
    p { font-size: 1rem}
    div.row.skills {
        text-align: center;
    }
    div.row {
        .progress {
            height: 12px;
            margin-bottom: 14px;
        }
        ul.no-decoration {
            list-style: none;
            padding-left: 0;
        }
        ul li {
            margin-bottom: 5px;
        }
    }
    .row .job {
        margin-bottom: 15px;
        .from {
            font-weight: bold;
        }
    }
    .job .title .job .title {
        font-size: 16px;
        margin-bottom: 7px;
        span {
            font-weight: bold;
            font-size: 16px;
        }
    }
    .webs span {
        font-size: 12px;
        font-weight: bold;
    }
}