@import '../../sass/colors';

.employer-header {
    .employer-image {
        margin-right: 20px;
        img {
            border: dotted 1px $color6;
            border-radius: 6px;
        }
    }
    h1 {
        margin-bottom: 0.4rem !important;
        font-size: 1.2rem !important;
    }
    h2 {
        color: $color7;
        font-size: 1rem !important;
        margin-bottom: 0 !important;
    }
    .name-and-title {
        padding: 12px;
        margin-bottom: 1.5rem;
    }
}