@import '../../../sass/colors';

$border-color: rgba(black, .3);

.timeline-item {
	padding: 3em 0 4em 1em;
	position: relative;
	border-left: 2px solid $border-color;

	p {
		font-size: 1rem;
	}

	.date {
		font-weight: bold;
		display: block;
		position: absolute;
		top: 0.8em;
		font-size: .785rem;
	}

	&::before {
		width: 18px;
		height: 18px;
		display: block;
		top: 1em;
		position: absolute;
		left: -10px;
		border-radius: 10px;
		content: '';
		border: 2px solid $border-color;
		background: white;
	}

	&:last-child {
		border-image: linear-gradient(
			to bottom,
			$border-color 60%,
			rgba($border-color, 0)) 1 100%
		;
	}
}
.period-description {
	margin: 20px 0;
}
