@import 'sass/colors';
@import 'sass/print';

@media screen {
    .print{
        display:none;
    }
    .hidden {
        display:none;
    }
    a.external-link::after {
        font-family: FontAwesome;
        content: ' \f08e';
        font-size: 0.6rem;
    }
}