@import 'sass/colors';
@import 'sass/print';

@media screen {
    .print{
        display:none;
    }
}

#cv {
    .dark-blue {
        background-color: $color3;
    }

    .grey {
        background-color: $color4;
    }
}