@import 'sass/colors';
@import 'sass/print';

@media screen {
    .print{
        display:none !important;
    }
    .hidden {
        display:none;
    }
    a.external-link::after {
        font-family: FontAwesome;
        content: ' \f08e';
        font-size: 0.6rem;
    }
}

h1,h2,h3,h4 {
    font-family: 'Oswald', sans-serif !important;
}
body {
    font-family: 'Quicksand', sans-serif !important;
    background: $body !important;
}
.fa-caret-square-o-up, .fa-caret-square-o-down {
    font-size: 12px !important;
}
.pc {
    margin-top:50px;
}
.animated {
    transition: opacity 700ms;
    opacity: 0;
    display: block;
}
.animated.ready{
    opacity: 1;
}