@import '../../sass/colors';

.personal {
    .dark-blue {
        background-color: $color3;
    }
    a {
        color: $color1;
    }
    .contact-me span.icon {
        font-size: 22px;
        margin-bottom: 12px;
    }
    .section {
        padding: 30px 16px;
        color: $color1;
    }
    h4 {
        font-size: 16px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 35px;
        color: $color1;
    }
    .row {
        margin-bottom: 7px;
        color: $color1;
    }
    div.text {
        color: $color1;
    }
    .col-md-12 {
        padding: 0;
        color: $color1;
    }
    .col-md-12.mobile-picture {
        padding: 0px 40px;
    }
    .contact,
    .follow {
        text-align: center;
        margin: 35px 20px;
        color: $color1;
        a {
            font-size: 12px;
            color: $color1;
            word-break: break-word;
        }
        .social-link {
            font-size: 18px;
            padding: 6px;
            color: $color1;
        }
    }
}