.personal {
    a {
        color: #f5f5f5 !important;
    }
    .contact-me span.icon {
        font-size: 22px;
        margin-bottom: 12px;
    }
    .section {
        padding: 20px 0px;
        color: #f5f5f5 !important;
    }
    h4 {
        font-size: 16px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 35px;
        color: #f5f5f5 !important;
    }
    .row {
        margin-bottom: 7px !important;
        color: #f5f5f5 !important;
    }
    div.text {
        color: #f5f5f5 !important;
    }
    .col-md-12 {
        padding: 0;
        color: #f5f5f5 !important;
    }
    .col-md-12.mobile-picture {
        padding: 0px 40px;
    }
    .contact,
    .follow {
        text-align: center;
        margin: 35px 20px;
        color: #f5f5f5 !important;
        a {
            font-size: 12px;
            color: #f5f5f5 !important;
            word-break: break-all;
        }
        .social-link {
            font-size: 18px;
            padding: 6px;
            color: #f5f5f5 !important;
            -webkit-print-color-adjust: exact !important;
        }
    }
}