.project {
    margin-bottom: 8px;
    padding-left: 4px;
    span {
        display:block;
    }
    h4 {
        font-size: 16px;
        margin: 0;
        color: #444;
    }
    .description {
        font-size: 14px;
    }
    .external-link {
        font-size: 14px;
        color: #666;
    }
}