.project {
    margin-bottom: 12px;
    margin-right: 18px;
    padding-left: 4px;
    display: inline-block;
    span {
        display:block;
    }
    h4 {
        font-size: 16px;
        margin: 0;
        color: #444;
    }
    .description {
        font-size: 14px;
    }
    .external-link {
        font-size: 14px;
        color: #666;
    }
}
.container-with-title.projects {
    .content {
        padding-bottom: 0px;
    }
}